/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Raleway:wght@100;200;400;500;600;700&display=swap");

/* font-family: 'Raleway', sans-serif; */
/* Styling Starts Here */
/* ........................................ */

:root {
  --primary-colour: white;
  --secondary-color: #1b1b1b;
  --title-font: "Raleway", sans-serif;
  --content-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--content-font);
  background: var(--secondary-color);
  color: var(--primary-colour);
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--title-font);
}

small {
  font-style: italic;
}

.container {
  padding: 0 20px 0 20px;
}

.center-container {
  padding: 0 20px 0 20px;
  margin: auto;
  margin-top: 0;
  max-width: 980px;
}

.link {
  padding: 10px;
  text-decoration: none;
  border-radius: 75px;
}

.primary-link {
  background: var(--primary-colour);
  color: var(--secondary-color);
}

.secondary-link {
  border: 1px solid var(--primary-colour);
  color: var(--primary-colour);
}

hr {
  margin: 3rem auto;
  width: 980px;
}

.no-bullet-list {
  list-style: none;
}

.inline-list-item {
  display: inline;
  padding: 0 10px;
}

.hero {
  font-size: 1.25rem;
  background: url("./images/hero.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.nav-bar {
  padding: 40px;
  width: auto;
}

.brand {
  display: inline;
  font-weight: 900;
  font-family: var(--title-font);
}

.menu {
  float: right;
  overflow: hidden;
  color: white;
  display: inline;
  text-align: right;
  margin: 0;
}

.hero .menu-item {
  text-decoration: none;
  color: var(--primary-colour);
  padding: 0 1.5em;
  font-weight: 300;
}

.hero .link-active {
  font-weight: 900;
}

.hero-heading {
  font-size: 3em;
  font-weight: lighter;
  padding: 50px 0;
  text-align: center;
  line-height: 1.4;
  margin: 0;
}

.highlight {
  font-weight: 600;
}

.fluid-container {
  background-color: white;
  margin: auto;
}

.section {
  width: 980px;
  margin: auto;
}

.white-section {
  background: #dadada;
  color: #404242;
  text-align: center;
  padding: 2rem;
}

.footer {
  background-color: var(--primary-colour);
  text-align: center;
  color: #404242;
  padding: 20px;
}

.footer .link {
  font-weight: bold;
}

.tech-stack-list {
  text-align: center;
  padding: 0;
}

.skills-grid {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.tech-icons {
  max-height: 100px;
}

section{
  margin: 0;
  padding: 20px;
}

#test{
  margin-bottom: 1000px;

}
